{% raw %}
# Исходники тут https://qna.habr.com/q/1134068
# cat /etc/alertmanager/alertmanager.yml
global:

# Отсюда читаем все шаблоны:
#  - '/etc/alertmanager/templates/*.tmpl'

route:
  # Группировка алертов
  group_by: ['alertname', 'cluster', 'service']
  # время ожидания перед отправкой уведомления для группы
  group_wait: 30s
  # время отправки повторного сообщения для группы
  group_interval: 10m
  # время до отправки повторного сообщения
  repeat_interval: 1h
  receiver: 'telega'
receivers:
  - name: 'telega'
    telegram_configs:
    - bot_token: '{% endraw %}{{ telega_bot_token }}{% raw %}'
      api_url: 'https://api.telegram.org'
      chat_id: {% endraw %}{{ telega_chat_id }}{% raw %}
      message:  "Alertname: {{ .GroupLabels.alertname }}\n Severity: {{ .CommonLabels.severity }}\n {{ range .Alerts }}{{ .Annotations.description }}\n{{ end }}"
      parse_mode: ''

{% endraw %}